@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-color: #F1FFFA;
    --text-color: #040F16;
    --highlight-color-one: #d2f5f8;
    --highlight-color-two: #187c80;
}

.carousel-control-prev-icon{
    background: var(--highlight-color-two);
}

body {
    background-color: var(--text-color);
    color: var(--text-color);
}

/* Hero Section */
.hero-section {
    background-color: #F1FFFA;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section p.lead {
    color: #040F16;
}

.hero-content {
    display: flex;
    align-items: center;      /* vertically aligns everything */
    justify-content: center;  /* centers the whole group */
    gap: 100px;                /* space between images + text */
    text-align: center;
}

.hero-text {
    max-width: 500px;
}

.hero-img {
    width: 380px;  /* adjust size */
    height: auto;
}

.bg-light {
    background-color: #F1FFFA;
}

.hero-section h1 {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #040F16
}

.carousel-section {
    background-color: #f1fffa;
}

.carousel-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-img {
    width: 40px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
}

/* navigation */

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: #F1FFFA;
    text-decoration: none;
}

.navbar-brand {
   font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: #F1FFFA;
    text-decoration: none;
}

.navbar {
    background-color: #187c80;
}

h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

.work-card {
     font-family: "Quicksand", sans-serif;
     background-color: var(--highlight-color-one);
}

.carousel-inner img{
    width: 18%;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 18%;
}

.carousel-control-prev-icon{
    background: var(--highlight-color-two);
}

.carousel-control-next-icon{
    background: var(--highlight-color-two);
}

h2 {
    font-weight: 700;
    color: #040F16;
}

.modal-body img {
    width: 100%;
}

.modal-body img {
    width: 100%;
}



html, body {
  height: 75;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* pushes footer down */
}

.site-footer {
  background-color: #187c80; /* change color */
  color: #F1FFFA;
  text-align: center;
  padding: 15px 0;
  font-family: 'Playfair Display', serif;
}

.site-footer a {
  color: #F1FFFA;
  text-decoration: none;
  margin: 0 5px;
  font-family: 'Playfair Display', serif;
}

.site-footer a:hover {
  text-decoration: underline;
}

.photo-collage {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

.collage-row {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
}

.collage-row img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.row-5 img {
  width: calc((100% - 72px) / 5);
}

.row-4 {
  justify-content: space-between;
}

.row-4 img {
  width: calc((100% - -80px) / 5);
}