@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-color: #F1FFFA;
    --text-color: #040F16;
    --highlight-color-one: #d2f5f8;
    --highlight-color-two: #187c80;
}

.carousel-control-prev-icon{
    background: var(--highlight-color-two);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Hero Section */
.hero-section {
    background: url(../images/beachheader.webp);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1FFFA;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #F1FFFA;
}

/* navigation */

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.navbar-brand {
   font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #187c80;
}

h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

.work-card {
     font-family: "Quicksand", sans-serif;
     background-color: var(--highlight-color-one);
}

.carousel-inner img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.carousel-control-prev-icon{
    background: var(--highlight-color-two);
}

.carousel-control-next-icon{
    background: var(--highlight-color-two);
}

.btn {
    background-color: var(--highlight-color-two);
    padding: 10px;
    border-color: var(--bg-color);
}

h2 {
    font-weight: 700;
    color: #040F16;
}

.modal-body img {
    width: 100%;
}

.modal-body img {
    width: 100%;
}